@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

/* CONFIGURAÇÃO GERAL */
*{box-sizing: border-box;}

html{
    font-size: 16px;
}

body {
    font-family: 'Noto Sans', 'Segoe UI', sans-serif;
    margin: 0;
    padding: 0;
}

body, h1, h2, p, figure, nav ul{
    margin: 0;
    padding: 0;
}

img{max-width: 100%;}

a{ text-decoration: none; color: aliceblue; letter-spacing: 5px;}

.limitador {
    width: 85vw;
    margin: auto;
    height: auto;
}

/* CONTEÚDO DO CABEÇALHO */

header {
    background-color: #171717;
    color: #fff;
    padding: 10px;
    text-align: center;
    position: relative;
    transform: translateY(-115px);
}

.cabecalho {
    /* background-color: red; */
    display: flex;
    justify-content: space-between;
    position: relative;
    transform: translateY(110px);
}

nav img {transform: scale(40%);}

.cabecalho img { 
    max-width: 50%;
    border-radius: 50%;
    position: relative;

}

header input[type="text"] {
    border-radius: 5px;
    padding: 8px;
    border: none;
    margin-right: 10px;
    width: 310px;
}

header button {
    padding: 8px 15px;
    border: none;
    background-color: #62a864;
    color: white;
    cursor: pointer;
    border-radius: 8px;
}






/* CONTEÚDO DA PÁGINA */

body {
    /* background-color: blueviolet; */
    background-image: url(/imagens/imagen-de-fundo-OK.png);
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    color: aliceblue;
    background-size: 2200px;
    background-position: center;
    background-position-y: -180px;
    
}




section {
    padding: 20px;
    margin: 20px 0;
}



#popularMusica {
    background-color: cadetblue;
}

#musicaGeneros {
    background-color: rgb(131, 95, 160);
}


/* RODA-PÉ DA PAGINA */


footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: var(--cor-escura);
    padding: 10px;
    text-align: center;
    font-size: 0.8rem;
    letter-spacing: 1.2px;
}

footer img{border-radius: 50%;}













/* CRIANDO MIDIA QUERY (RESSPONSIVIDADE) */
/* Estilos para dispositivos com largura de tela entre 420px e 600px */
@media screen and (max-width: 600px) {
    body {
      font-size: 16px;
    }

    header {
        transform: translateY(-85px);
    }

    .cabecalho {
        position: relative;
        transform: translateY(60px);
    }

    header input[type="text"] {
        border-radius: 5px;
        padding: 8px;
        border: none;
        margin-right: 10px;
        width: 200px;
    }

  }


/* Estilos para dispositivos com largura de tela entre 601px e 900px */
@media screen and (min-width: 601px) and (max-width: 900px) {
    body {
      font-size: 18px;
    }

    header {
        transform: translateY(-125px);
    }

    .cabecalho {
        position: relative;
        transform: translateY(80px);
    }


  }

  @media screen and (min-width: 901px) {
    body {
      font-size: 20px;
    }
  }
  